* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background: white;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
}
h1 i{
  margin-right: 10px;
}
#task-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#task-input.error {
  border-color: #d9534f;
}

#error-message {
  color: #d9534f;
  font-size: 14px;
  margin-bottom: 10px;
}

#add-task-btn {
  width: 100%;
  padding: 10px;
  background: #5cb85c;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#add-task-btn i {
  margin-right: 5px;
}
#add-task-btn:hover {
  background: #4cae4c;
}
#task-list {
  list-style-type: none;
  padding: 0;
}
.task-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
.task-item.completed span {
  text-decoration: line-through;
  color: #888;
}
.complete-btn,
.delete-btn {
  background: none;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-buttons{
  display: flex;
  gap: 10px;
}
.complete-btn {
  background: #5bc0de;
}


.delete-btn {
  background: #d95345;
}
button:hover {
  opacity: 0.8;
}

/* Media queries */
@media screen and (min-width: 768px) {
  .container {
    width: 500px;
    margin: 0 30px;
  }
  #add-task-btn,
  .task-item,
  .complete-btn,
  .delete-btn {
    padding: 8px;
  }
}
